<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.runningmanager.dao.entity.UserRunData">
    <select id="selectByMillage" resultType="com.example.runningmanager.dao.entity.UserRunData">
        select user_run_data_id, user_id, mileage, day, state from user_run_data order by mileage desc limit 10;
    </select>
</mapper>

